// Mixins Here
.flex-row(@justify: flex-start, @align: stretch){
    display: flex;
    flex-direction: row;
    justify-content: @justify;
    align-items: @align;
}

.flex-column(@justify: flex-start, @align: stretch){
    display: flex;
    flex-direction: column;
    justify-content: @justify;
    align-items: @align;
}

.rounded-border-small{
    border-radius: 5px;
}

.rounded-border-medium{
    border-radius: 10px;
}

.rounded-border-large{
    border-radius: 20px;
}

.button-secondary(
    @fontSize: @fontSize-Small,
    @bg-color: @btn-bg-color,
    @padding: 1em 1em
    ){
    border: none;
    background-color: @bg-color;
    font-size: @fontSize;
    .rounded-border-small;
    color: white;
    font-weight: bold;
    font-family: inherit;
    padding: @padding;
}