// Navigation code here

header{

    &.navigation{
        max-width: @nav-maxWidth;
        min-height: @nav-minHeight;
        width: 100%;
        margin: 0 auto;  
        background-color: @nav-bg;
        .flex-column(space-around, center);
        h1{
            font-size:@fontSize-xLarge;
        }

        nav{
            .flex-row(space-around, baseline);
            max-width: @nav-linkWidth;
            width: 100%;
            a{
                text-decoration: none;
                font-size: @fontSize-Small;
            }
        }
    }
}